; Comments start with ';', as in php.ini
; 可以使用 PHP 的 parse_ini_file 函数进行解析

[first-section]
test-key=123

[base-section]
; 提交到的 web 上的 yapi 服务所在的 host   必填
host = 'http://yapi.example.com'
; 示例文档文件 可选
example-file = '/your/path/some_doc.md'

[token-section]
; 例如：员工中心业务文档项目的 token  可选
hr-staff-center = 1xx12xaadsdaaa3
; 默认情况下使用的 token，请务必配置正确
default-token = 1xx12xaadsdaaa3
